<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <div>
        <form method="post">
            <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
            <input type="text" name="text" placeholder="Please enter your text">
            <input type="text" name="tag" placeholder="Please enter your tag">
            <button type="submit">Add message</button>
        </form>
    </div>

    <div>
        <form method="post" action="filter">
            <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
            <input type="text" name="tag">
            <button type="submit">Find message</button>
        </form>
    </div>

    <div>List of messages:</div>
    <div>
        {{#messages}}
            <div>
                {{id}}
                {{text}}
                {{tag}}
                {{authorName}}
            </div>
        {{/messages}}
    </div>
</body>
</html>